/**
 * @Author: Matthew Auld <matthew>
 * @Date:   Sunday, September 17th 2017, 8:02:50 PM
 * @Email:  matthew@jumpbuttonstudio.com
 * @Project: Booking System
 * @Filename: booking-style.css
 * @Last modified by:   matthew
 * @Last modified time: Monday, September 18th 2017, 1:03:47 PM
 * @Copyright: 2017 JumpButton North
 */

#jbn_booking_system{
	background-color:#FFFFFF;
	border-radius:10px;
	overflow:hidden;
	padding-top:15px;
	-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
}

#jbn_booking_system .btn{
	box-shadow:none;
	outline: 0px;
	cursor: pointer;
}

#jbn_date_grid{
	padding-left:15px;
    padding-right:15px;
}

#jbn_booking_system .week .day{
	border-left:1px #333 solid;
	border-bottom:1px #333 solid;
	padding-top:10px;
	padding-bottom:10px;
}

#jbn_booking_system .week .day:first-child{
	border-left:0;
}

#jbn_booking_system .week .day:last-child{
	border-right:0;
}

#jbn_booking_system .week:last-child .day{
	border-bottom:0;
}

#jbn_booking_system .week .day > span.date{
	float:right;
	font-size:10px;
}

#jbn_booking_system .week .day.other-month > span.date{
	color:rgba(0,0,0,0.4);
}

#jbn_booking_system .week .day::after{
	content: "";
	display:block;
	padding-bottom: 100%;
}

#jbn_booking_system .week .other-month{
	background-color:rgba(0,0,0,0.25);
}

#jbn_booking_system .month-name > h1{
	font-size:21px;
}

#jbn_booking_system .calendar_navigation{
	padding:15px;
}

#jbn_booking_system .week-names{
	font-size:14px;
	padding-left:15px;
    padding-right:15px;
}

#jbn_booking_system .week-names .col-md-1{
	padding-top:15px;
	padding-bottom:15px;
	font-weight:bold;
}

@media (max-width:767px){
	.seven-cols .col-md-1,
	.seven-cols .col-sm-1,
	.seven-cols .col-lg-1{
		width: 14.285714285714285714285714285714%;
		max-width: 14.285714285714285714285714285714%;
		flex:0 0 14.3%;
	}
}

@media (min-width:768px){
	.seven-cols .col-md-1,
	.seven-cols .col-sm-1,
	.seven-cols .col-lg-1{
		width: 14.285714285714285714285714285714%;
		max-width: 14.285714285714285714285714285714%;
		flex:0 0 14.3%;
	}
}

@media (min-width:992px){
	.seven-cols .col-md-1,
	.seven-cols .col-sm-1,
	.seven-cols .col-lg-1 {
		width: 14.285714285714285714285714285714%;
		max-width: 14.285714285714285714285714285714%;
		flex:0 0 14.3%;
 	}
}
